/* Estilo utilizado para el diseño del proyecto Chaos Dungeoon */

/* Importar fuestes de letras */

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
    /* font-family: 'Bungee Spice', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
    /* font-family: 'Bree Serif', serif; */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
    /* font-family: 'Cinzel', serif; */

/* Layout principal */

html, body{
    margin: 0px;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    position: relative;
    font-family: 'Cinzel', serif;
    margin: 0px;
    padding: 0px;
    cursor: url('../img/cursor.png'), auto;
    
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../img/fondo_menu.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(2px);
}

main {
    height: 100vh;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
}

main::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

main::-webkit-scrollbar-thumb {
    background-color: transparent;
}

main::-webkit-scrollbar-track {
    background: transparent;
}

a:hover{
    cursor: url('../img/cursor_url.png'), auto;
}

input[type="text"]:hover {
    cursor: url('../img/cursor_escribir.png'), auto;
}

footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2vh;
    margin-top: 5vh;
}

/* Objetos */

.letrero{
    background-image: url(../img/barra_letrero.png);
    height: 50px;
    position: relative;
    margin-bottom: 10vh;
}

.letrero img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.letrero h3{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: bolder;
    color: black;
}

.info_inicio{
    width: 50%;
}

.info_inicio div{
    height: 50px;
    position: relative;
}

.info_inicio div img{
    width: 100%;
    height: 50px;
}

.info_inicio h4{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.info_inicio article{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}

.info_inicio img{
    height: 30vh;
}

.info_inicio p{
    padding: 5%;
}

/* Vista inicial */

#menu_inicio{
    padding: 0;
}

#inicio_aventura{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

#inicio_aventura  article img{
    width: auto;
    max-height: 40vh;
}

#inicio_aventura div{
    width: 50%;
    height: 15vh;
    font-family: 'Bungee Spice', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

#inicio_aventura a{
    position: relative;
    
}

#inicio_aventura a img{
    width: 100%;
}

#inicio_aventura a h3{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: bolder;
    color: black;
}

#contenedor_info_inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inicio_sesion{
    display: none;
}