/* Estilo utilizado para el diseño del proyecto Chaos Dungeoon */

/* Importar fuestes de letras */

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
    /* font-family: 'Bungee Spice', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
    /* font-family: 'Bree Serif', serif; */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
    /* font-family: 'Cinzel', serif; */

/* Layout principal */

html, body{
    margin: 0px;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    position: relative;
    font-family: 'Cinzel', serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    cursor: url('../img/cursor.png'), auto;
}

nav{
    height: 7vh;
    display: flex;
    align-items: center;
    padding: 0px 5%;
}

nav button{
    height: 5vh;
    padding: 0px 1%;
    border-radius: 10px;
    border-color: transparent;
    margin: 0px 1%;
}

main {
    height: 100vh;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
}

main::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

main::-webkit-scrollbar-thumb {
    background-color: transparent;
}

main::-webkit-scrollbar-track {
    background: transparent;
}

a:hover{
    cursor: url('../img/cursor_url.png'), auto;
}

input[type="text"]:hover {
    cursor: url('../img/cursor_escribir.png'), auto;
}

button:hover{
    cursor: url('../img/cursor_url.png'), auto;
}

button{
    font-family: 'Cinzel', serif;
}

footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2vh;
    margin-top: 5vh;
}

/* Objetos */

.letrero{
    background-image: url(../img/barra_letrero.png);
    height: 50px;
    position: relative;
    margin-bottom: 10vh;
}

.letrero img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.letrero h3{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: bolder;
    color: black;
}

.info_inicio{
    width: 50%;
}

.info_inicio div{
    height: 50px;
    position: relative;
}

.info_inicio div img{
    width: 100%;
    height: 50px;
}

.info_inicio h4{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.info_inicio article{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
}

.info_inicio img{
    height: 30vh;
}

.info_inicio p{
    padding: 5%;
}

/* Vista inicial */

#fondo_menu_inicio {
    color: white;
    position: relative;
}

#fondo_menu_inicio::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../img/fondo_menu.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(2px);
}

#inicio_aventura{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}

#inicio_aventura article img{
    width: auto;
    max-height: 40vh;
}

#inicio_aventura div{
    width: 50%;
    height: 15vh;
    font-family: 'Bungee Spice', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

#inicio_aventura a{
    position: relative;
    
}

#inicio_aventura a img{
    width: 100%;
}

#inicio_aventura a h3{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: bolder;
    color: black;
}

#contenedor_info_inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inicio_sesion{
    display: none;
}

#contenedor_inicio_sesion{
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contenedor_inicio_sesion img{
    width: 300px;
}

#inicio_sesion section{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80%;
}

#inicio_sesion form{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

#inicio_sesion form img{
    width: 100%;
    height: 50px;
}

#inicio_sesion form button{
    position: relative;
    background-color: transparent;
    border-color: transparent;
    width: 70%;
}

#inicio_sesion form h3{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
}

#inicio_sesion form div{
    width: 50%;
}

#inicio_sesion form input[type="text"]{
    padding-left: 2%;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    width: 100%;
}

#inicio_sesion form input{
    background-color: rgba(255, 255, 255, 0.6);
    border-color: transparent;
    border-radius: 5px;
}

#inicio_sesion h5{
    margin-bottom: 5px;
}

/* vista sesión */

#fondo_sesion{
    background-image: url("../img/fondo_sesion.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
}

#sesion_jugador nav{
    position: relative;
}

#sesion_jugador nav div{
    position: absolute;
    right: 0;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 4vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5%;
    justify-content: center
}

#sesion_jugador nav div p{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: flex-end;
    height: 4vh;
    width: 85%;
    border-radius: 5px;
    text-align: right;
    padding-right: 10%;
    font-family: 'Bungee Spice', cursive;

}

#sesion_jugador nav img {
    height: 6.5vh;
    position: absolute;
    right: calc(110px + 5%);
}

#sesion_jugador main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 93vh;
    position: relative;
}

#sesion_jugador main img{
    width: 35%;
}

#sesion_jugador article{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    bottom: 10%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sesion_jugador article img{
    width: 20vh;
}

#sesion_jugador article p{
    margin: 1vh 0px;
}

#sesion_jugador section{
    position: absolute;
    bottom: 10%;
    right: 5%;
    display: flex;
    flex-direction: column;
}

#sesion_jugador section button{
    position: relative;
    background-color: transparent;
    border-color: transparent;
    width: 400px;
}

#sesion_jugador section img{
    width: 100%;
}

#sesion_jugador section h3{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
}
